/*
 * css bindings for goffice.
 *
 * These are loaded with "fallback" priority, i.e., everything else will
 * override them.
 */

/* ------------------------------------------------------------------------- */

GORotationSel GocCanvas {
  background-image: none;
  background-color: white;
}

GO3DRotationSel GocCanvas {
  background-image: none;
  background-color: white;
}
