/* css bindings for goffice.  This is loaded for gtk+ 3.20 and later.  */
/* ------------------------------------------------------------------------- */

rotationselector canvas {
  background-image: none;
  background-color: white;
}

rotationselector ticks {
  color: black;
  outline-color: black;
}

rotationselector ticks.minor {
    min-width: 6px;
}

rotationselector ticks.major {
    min-width: 8px;
}

rotationselector ticks:selected {
  color: #00ff00;
  outline-width: 1px;
}

rotationselector line {
  color: black;
  outline-width: 2px;
}

/* ---------------------------------------- */

rotation3dselector canvas {
  background-image: none;
  background-color: white;
}

/* ---------------------------------------- */

colorpalette button box {
  min-height: 1.5em;
  min-width: 1.5em;

  border-width: 3px;
  padding: 0;
  margin: 3px;
}

colorpalette button {
  padding: 0;
}

colorpalette grid {
  margin: 0;
  padding: 0.2em;
}

/* ---------------------------------------- */
