.dirstamp
.intltool-cache*
ABOUT-NLS
ID
Makefile
Makefile.in
aclocal.m4
autom4te*.cache
m4
compile
config.cache
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
doltcompile
doltlibtool
gtk-doc.m4
gtk-doc.make
install-sh
intl
intltool-extract*
intltool-merge*
intltool-modules
intltool-update*
libgoffice*.pc
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
omf.make
tags
test-driver
xlibtool
xltmain.sh
xmldocs.make
ylwrap
*.def
*~
