*.bak
go-action-combo-color.sgml
go-action-combo-pixmaps.sgml
go-app.sgml
go-cairo.sgml
go-charmap-sel.sgml
go-cmd-context.sgml
go-color-group.sgml
go-color.sgml
go-combo-box.sgml
go-combo-color.sgml
go-combo-pixmaps.sgml
go-combo-text.sgml
go-component-factory.sgml
go-component.sgml
go-data-matrix.sgml
go-data-scalar.sgml
go-data-vector.sgml
go-data.sgml
go-doc-control.sgml
go-doc.sgml
go-font-sel.sgml
go-format-sel.sgml
go-format.sgml
go-geometry.sgml
go-glib-extras.sgml
go-gradient-selector.sgml
go-gradient.sgml
go-gtk.sgml
go-image.sgml
go-libxml-extras.sgml
go-line-selector.sgml
go-line.sgml
go-locale-sel.sgml
go-locale.sgml
go-marker.sgml
go-math.sgml
go-object.sgml
go-optionmenu.sgml
go-pattern-selector.sgml
go-pattern.sgml
go-plugin-loader-module.sgml
go-plugin-loader.sgml
go-plugin-service.sgml
go-plugin.sgml
go-rangefunc.sgml
go-regression.sgml
go-rotation-sel.sgml
go-search-replace.sgml
go-service.sgml
go-units.sgml
goffice-unused.sgml
regutf8.sgml
