*.bak
html
tmpl
xml
Makefile
Makefile.in
*.stamp
goffice-*.actions
goffice-*-unused.txt
goffice-*-undocumented.txt
goffice-*-decl-list.txt
goffice-*-decl.txt
goffice-*-overrides.txt
goffice-*-undeclared.txt
goffice-*.args
goffice-*.hierarchy
goffice-*.interfaces
goffice-*.prerequisites
goffice-*.signals
goffice-*.types
version.xml
.libs
