.deps
.libs
goffice-config.h
goffice-config.h.in
goffice-features.h
goffice-paths.h
libgoffice-1.pc
Makefile
Makefile.in
stamp-h*
*.exp
*.lib
*.def
*.lo
*.la
*~
embedded-stuff.c
GOffice-0.10.gir
GOffice-0.10.typelib
